.beverage {
    border: 1px solid #eee;
    margin: 15px 0;
    padding: 15px;
}

.beverage-count {
    margin: 0 0 15px;
}

.field {
    display: block;
    margin-bottom: 10px;
}

.label-text {
    display: inline-block;
    width: 80px;
}

.checkbox-label {
    margin-bottom: 5px;
    display: inline-block;
}

.checkbox-field {
    margin: 5px 0;
    display: block;
}

.add-button {
    border: none;
    background: none;
    padding: 10px;
    color: rgba(0, 27, 255, 0.82);
    font-size: 14px;
    text-decoration: underline dashed;
    cursor: pointer;
}

.submit-button {
    font-size: 16px;
    padding: 7px 15px;
    border: 2px solid orange;
    border-radius: 5px;
}

.delete-beverage {
    position: relative;
    left: 200px;
    top: -323px;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1000;
    justify-content: center;
    align-items: center;
}
  
.modal-content {
    background: white;
    width: 500px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    padding: 20px;
    position: relative;
}
  
.close {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 24px;
    font-weight: bold;
    color: #aaa;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
}
  
.close:hover {
    color: #333;
}
  
.modal-body {
    padding: 20px;
    text-align: center;
}
